<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
    <!--根据ID获取对应的值  -->
    <select id="findUserById" parameterType="int" resultType="com.ximen.hxh.crawler.model.User">
        select * from user_nothing where id = #{id}
    </select>
</mapper>
